*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

:root{
    --white: #fff;
    --black-navy: #162938;
    --orange: rgb(236, 133, 59);
    --blue: #1F628E;
    --aqua: aqua;
    --gray: #ececec;
    --ash-gray: #9b9b9b;
}

body{
    margin-top: 200px;
    position: relative;
    background: url("/assets/images/profile/background-acc.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.account-container .header-title h1{
    text-align: center;
    color: var(--blue);
    margin-bottom: 40px;
}

.account-container .content{
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    margin-left: 300px;
    border: 1px solid var(--ash-gray);
    padding: 30px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 2px 2px 5px var(--ash-gray);
}

.account-container .content img{
    width: 400px;
    height: 400px;
    /* margin-left: 200px; */
    margin-right: 60px;
    border-radius: 10px;
    border: 2px solid var(--orange);
}

.account-container .content .label{
    padding: 10px;
}

.account-container .content .label label{
    font-size: 17px;
    font-weight: 600;
    color: var(--blue);
}

.account-container .content .label input{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    border: 0.5px solid var(--ash-gray);
    border-radius: 5px;
}

.account-container .content .label 
#fname, #fdob, #fcid, #ufphone,
#femail, #fdepartment, #fposition {
    padding-left: 16px;
    color: var(--black-navy);
}

.account-container .content .label 
#fname, #fdob, #fcid,
#femail, #fdepartment, #fposition {
    cursor: no-drop;
}

.account-container .content .btn{
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.account-container .content .cancel{
    background: var(--blue);
    margin-left: 70px;
}

.account-container .content .update{
    background: var(--orange);
}

.account-container .content .btn:hover{
    cursor: pointer;
    opacity: 80%;
}
