:root{
    --white: #fff;
    --black-navy: #162938;
    --orange: rgb(236, 133, 59);
    --blue: #1F628E;
    --aqua: aqua;
}

footer{
    position: relative;
    bottom: 0;
    background: var(--blue);
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: var(--white);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 20px 0 0 0;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 1px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: var(--white);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--aqua);
}

.footer-bottom{
    background: var(--orange);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
.footer-bottom span{
    font-style: bold;
    font-weight: 700;
}